export(ppbr_design)
export(ppbr)
export(ppbr_next)
export(ppbr_simulate)
S3method(print,ppbr_design)
S3method(print,ppbr_fit)
S3method(print,ppbr_decision)
S3method(print,ppbr_simulation)
S3method(print,summary.ppbr_fit)
S3method(summary,ppbr_fit)
S3method(summary,ppbr_simulation)
S3method(plot,ppbr_fit)
S3method(plot,ppbr_simulation)
importFrom(graphics,abline,axis,barplot,legend,par,plot)
importFrom(stats,dbeta,dbinom,pbeta,runif,setNames)
